html,
body,
#q-app,
.q-layout,
.q-page-container {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  min-height: 0;
  max-height: 100%;
  min-width: 0;
  max-width: 100%;

  overflow: hidden;
}

body {
  background-color: white;
}

.q-layout,
.q-page {
  min-height: unset !important;
}

.q-page {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
